{% include debug.html %}
{% assign cat = page.category %}
<p>Debug: current category = '{{ cat }}'</p>

{% if site.categories[cat] %}
  <ul class="post-list">
    {% for post in site.categories[cat] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h2>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found for category: {{ cat }}</p>
{% endif %}

