---
layout: default
---

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <h1 class="page-heading">{{ page.title }}</h1>

    {% if page.content %}
      <div class="category-description">
        {{ content }}
      </div>
    {% endif %}

    <ul class="post-list">
      {% assign cat = page.category | default: page.categories | first %}
      {% for post in site.categories[cat] %}
        <li>
          <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
